.row {
    /* background-color: aqua; */
    margin: 5px;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    margin: 8px 4px;
    border-radius: 8px;
    border: 2px solid black;
    color: rgb(83, 64, 36);
    cursor: pointer;
    padding: 20px;
    width: 66px;
}

.input {
    width: 230px;
    height: 40px;
    margin: 20px 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.outer-div {
    border: 5px solid rgb(34, 8, 32);
}

h1 {
    text-align: center;
}